{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block content %}
    {% if current_user.is_authenticated %}
        {% if request.args.get('reply') %}
            <div class="alert alert-dark">
                Reply to <strong>{{ reply.name }}</strong>:
                <a class="float-right" href="{{ url_for(request.endpoint, **args_except_reply) }}">Cancel</a>
                <br>{{ reply.body }}
            </div>
        {% endif %}
        <div class="hello-form">
            {{ render_form(form, action=request.full_path) }}
        </div>
        <a href="{{ url_for('logout', next=request.full_path) }}">Logout</a>
    {% else %}
        <a href="{{ url_for('login', next=request.full_path) }}">Login</a>
    {% endif %}
    <h5>{{ pagination.total }} messages
        <small class="float-right">
            <a href="#bottom" title="Go Bottom">&darr;</a>
        </small>
    </h5>
    <div class="list-group">
        {% for message in pagination.items %}
            <li class="list-group-item list-group-item-action flex-column">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-success">{{ message.name }}
                        <a class="btn btn-light btn-sm" href="{{ url_for(request.endpoint, reply=message.id, **args_except_reply) }}">Reply</a>
                    </h5>
                    <small data-toggle="tooltip" data-placement="top"
                           data-timestamp="{{ message.timestamp.strftime('%Y-%m-%dT%H:%M:%SZ') }}"
                           data-delay="500">
                        {{ moment(message.timestamp).fromNow(refresh=True) }}
                    </small>
                </div>
                {% if message.replied %}
                    <p class="alert alert-dark reply-body">{{ message.replied.name }}:
                        <br>{{ message.replied.body }}
                    </p>
                {% endif %}
                <p class="mb-1" style="color: {{ message.color }}">{{ message.body }}</p>
            </li>
        {% endfor %}
    </div>
    {{ render_pagination(pagination) }}
{% endblock %}
